{% extends "common/base.html" %} 
{% block title %}{{ title }}{% endblock %} 
{%block head %} {{ super() }} {% endblock %} 

{% block top %} {% endblock %} 


{%block body %} 
<div class="header-section">
    <div> <a href="/register" class="small-blue-button">註冊</a></div>
    <h3>{{ title }}</h3>
    <div> <a href="/register" class="small-red-button">忘記密碼</a></div>

</div>
<div class="container">
        
    {% if title == '登入' %}
      <!-- <form action="/account/edit/{{ current_user.id }}" method="post" enctype="multipart/form-data" class="needs-validation" novalidate> -->
      <form action="/login" method="post">
    {% else %}
      <form action="/register" method="post" enctype="multipart/form-data" >
  
      {% endif %}

      {% if title != '登入' %}
      
      <div class="input-group mb-3 has-validation">
          <span class="input-group-text"><i class="bi bi-envelope"></i></span>
          <div class="form-floating">
              <input name='email' type='email' id='email' autocomplete="email" class="form-control" placeholder="email" required>
              <label for="email">信箱</label>
          </div>
      </div>
      <div class="input-group mb-3 has-validation">
          <span class="input-group-text"><i class="bi bi-person"></i></span>
          <div class="form-floating">
              <input name='name' type='text' id='name' autocomplete="name" class="form-control" placeholder="name" required>
              <label for="name">姓名</label>
          </div>
      </div>
      {% endif %}
      <div class="input-group mb-3">
          <span class="input-group-text">@</span>
          <div class="form-floating">
              <input name='username' type='text' id='username' autocomplete="username" class="form-control" placeholder="username" required>
              <label for="username">使用者名稱(學號或職號)</label>
          </div>
      </div>
        
      <div class="input-group mb-3">
          <span class="input-group-text"><i class="bi bi-key"></i></span>
          <div class="form-floating">
              <input name='password' type='password' id='password' autocomplete="current-password" class="form-control" placeholder="password">
              <label for="password">密碼</label>
          </div>
      </div>

      <div class="button-group">
          <div>
              {% if title == '登入' %}
              <input type='submit' value='登入' class="blue-button">
              <input type='reset'  value='重設' class="red-button">
              {% else %}
              <input type='submit' value='完成' class="blue-button">
              <input type='reset'  value='重設' class="red-button">
              {% endif %}
          </div>
        </div>
      </form>
</div>
{% endblock %} 



{% block bottom %} {% endblock %} 